.headerVideo
{
	width: 100%;
	height: 110vh;
	object-fit: cover;
}
#introduction
{
	width: 100%;
	padding: 5vh 10vw;
	color: var(--gray);
	text-align: center;
}
#introduction h1
{
	font-size: var(--smallTitleSize);
	margin-bottom: 3vh;
	font-family: var(--titleFamily);
}
#introduction p
{
	font-size: var(--bigSize);
}
#explanations
{
	width: 60%;
	margin: 5vh auto;
	height: 80vh;
	display: grid;
	grid-gap: 30%;
	align-items: center;
	grid-template-columns: repeat(auto-fit,35%);
}
#offer
{
	width: 80%;
	margin: 25vh auto;
	height: 85vh;
	display: grid;
	grid-gap: 5%;
	align-items: center;
	grid-template-columns: repeat(auto-fit, 47.5%);
	grid-template-rows: repeat(auto-fit, 60vh);
}
#offer .cardTransitive .cardTransitiveContent
{
	text-align: left;
	color: var(--gray);
}
#offer .cardTransitive .cardTransitiveContent .cardTransitiveTitle
{
	text-align: center;
}
#offer .cardTransitive .cardTransitiveContent li
{
	list-style: disc;
	margin-bottom: 2vh;
}
#allyes
{
	position: relative;
	width: 100%;
	height: auto;
	background-image: url('../img/fondo-laptop.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
#allyes #allyesLogos
{
	height: auto;
	margin-left: auto;
	width: 60%;
	padding: 2% 3%;
	background: rgba(255,255,255,0.6);
}
#allyes #allyesTitle
{
	font-size: var(--bigTitleSize);
	font-family: var(--titleFamily);
	color: white;
	text-transform: uppercase;
	margin-bottom: 5vh;
	text-shadow: 2px 2px rgba(0,0,0,0.6);
}
#allyesLogos .logosTable
{
	width: 100%;
	height: auto;
	display: grid;
	margin-bottom: 5vh;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-auto-rows: minmax(70px, 1fr);
	align-items: center;
	justify-items: center;
	grid-gap: 2% 3%;
}
#otherMarks
{
	height: auto;
	width: 100%;
	padding: 5%;
	margin: 10vh 0;
}
#otherMarks .logosTable
{
	width: 70%;
	margin: 5vh auto;
	height: auto;
	display: grid;
	grid-gap: 3%;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	align-content: center;
	text-align: center;
	justify-items: center;
}
#finalContent
{
	min-height: 50vh;
	width: 100%;
	margin: 10vh 0;
	padding: 3% 8%;
}
#finalContent #finalContentRow
{
	display: flex;
}
#finalContentRow .computerContainer
{
	flex: 3;
}
#finalContentRow .fb-page
{
	flex: 1;
	height: 70%;
}
.computerContainer
{
	background-image: url('../img/marco-computadora.webp');
	background-position: 75px 0px;
	background-size: auto 500px;
	background-repeat: no-repeat;
	position: relative;
}
.computerContainer .computerContent
{
	position: absolute;
	top: 4.5%;
	left: 95px;
	width: 570px;
	height: 64%;
	overflow: hidden;
}
.computerContainer .computerContent > *
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.certificado
{
	width: 100%;
	margin: 3vh 0;
}
@media only screen and (max-width: 1080px)
{
	#allyes #allyesLogos
	{
		width: 80%;
	}
	#otherMarks .logosTable
	{
		margin-bottom: 10vh;
	}
	#finalContentRow .fb-page
	{
		height: 50%;
	}
	.computerContainer
	{
		background-position: 45px 0px;
		background-size: auto 350px;
	}
	.computerContainer .computerContent
	{
		height: 45%;
		top: 3%;
		left: 60px;
		width: 400px;
	}
}
@media only screen and (max-width: 1000px)
{
	#explanations
	{
		grid-gap: 10%;
		grid-template-columns: repeat(auto-fit,45%);
	}
}
@media only screen and (max-width: 800px)
{
	#allyes #allyesLogos
	{
		width: 90%;
	}
	#otherMarks .logosTable
	{
		margin-bottom: 40vh;
	}
	#finalContentRow .fb-page
	{
		width: auto;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-50%);
	}
	#finalContent #finalContentRow
	{
		display: block;
	}
}
@media only screen and (max-width: 700px), (orientation: portrait)
{
	#explanations
	{
		height: 120vh;
		grid-template-columns: repeat(auto-fit, 100%);
		grid-template-rows: repeat(auto-fit, 55vh);
		grid-gap: 2%;
	}
	#offer
	{
		margin: 5vh auto;
		height: 270vmin;
		grid-gap: 35%;
		align-items: center;
		grid-template-columns: repeat(auto-fit, 100%);
		grid-template-rows: repeat(auto-fit, 30vh);
	}
	.headerVideo
	{
		height: 50vh;
	}
	#allyes #allyesLogos, #otherMarks .logosTable
	{
		width: 100%;
	}
	#allyesLogos .logosTable
	{
		margin-bottom: 15vh;
	}
}