/* Main css for the PixelWindow page, it must be contained in all PixelWindow pages*/
@font-face
{
  font-family: 'Futura-LightBT';
  src: url('Webfont-futura/Futura-LightBT.eot');
  src: url('Webfont-futura/Futura-LightBT.eot?#iefix') format('embedded-opentype'), url('Webfont-futura/Futura-LightBT.woff') format('woff'), url('Webfont-futura/Futura-LightBT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: 'Futura-MediumBT';
  src: url('Webfont-futura/Futura-MediumBT.eot');
  src: url('Webfont-futura/Futura-MediumBT.eot?#iefix') format('embedded-opentype'), url('Webfont-futura/Futura-MediumBT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root
{
	/* Font size*/
	--normalSize: 2.4vmin;
	--smallSize: calc(0.8 * var(--normalSize));
	--bigSize: calc(1.2 * var(--normalSize));
	--titleSize: 6vmin;
	--smallTitleSize: calc(0.6 * var(--titleSize));
	--bigTitleSize: calc(1.2 * var(--titleSize));

	/* Font family*/
	--normalFamily: 'Futura-LightBT', sans-serif;
	--titleFamily: 'Futura-MediumBT', sans-serif;

	/* Colors*/
	--gray: #949293;
	--red: #ffa3a3;
	--lightBlue: #1aa1db;
	--darkBlue: #0d47a1;
}
*
{
	font-size: var(--normalSize);
	font-family: var(--normalFamily);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	list-style: none;
	outline: none;
	text-decoration: none;
}
.redBorder
{
	border-color: var(--red);
}
.boldText
{
	font-weight: 900;
}
.transparentMask
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 2;
}
hr
{
	width: 100%;
	margin: 3vh auto;
	border: 2px solid gray;
	border-radius: 2px;
}
header
{
	width: 100%;
	height: auto;
}

/* nav (start) */
nav
{
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	min-height: 10vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	z-index: 10;
}
nav .logoContainer
{
	flex: 3;
	display: flex;
}
.logoContainer .logoNav
{
	margin: auto;
	width: 14vmax;
	height: 5vmax;
}
nav .navContent
{
	flex: 8;
	padding-right: 5vw;
}
nav .navContent > *
{
	font-size: var(--smallSize);
}
nav .menuNav, nav .contactNav
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	align-items: center;
	grid-gap: 5px;
	margin-top: 3vh;
}
.menuNav .menuNavOption, .contactNav .contactNavOption
{
	text-align: center;
	width: 100%;
	padding: 2%;
	border-right: 1px solid black;
	transition: color 0.5s ease, background 0.5s ease-in;
}
.menuNav .menuNavOption:last-child
{
	border-right: none;
}
.menuNav .menuNavOption:hover, .contactNav .contactNavOption:hover
{
	cursor: pointer;
	color: white;
	text-decoration: underline;
	background: var(--gray);
}
.contactNav .contactNavOption
{
	border: none;
}
.contactNav .contactNavOption span
{
	display: block;
}
/* nav (end) */


/* cardInfo (start)*/
.cardInfo
{
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.cardInfo .cardInfoTitle
{
	display: block;
	font-size: var(--smallTitleSize);
	font-family: var(--titleFamily);
	text-transform: uppercase;
}
.cardInfo .cardInfoImage
{
	width: 100%;
	height: 100%;
	position: relative;
}
.cardInfo .cardInfoImage .cardInfoTitle
{
	position: absolute;
	top: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	left: 0;
	z-index: 3;
	transition: color 0.4s ease;
}
.cardInfo img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cardInfo .cardInfoContent
{
	width: 100%;
	height: 100%;
	padding: 4% 5%;
	position: absolute;
	top: 100%;
	z-index: 3;
	transition: top 0.3s ease-in;
}
.cardInfo .cardInfoContent > *
{
	font-size: var(--bigSize);	
	margin-bottom: 3vh;
}
.cardInfo:hover
{
	cursor: pointer;
}
.cardInfo:hover .cardInfoContent
{
	top: 0;
}
.cardInfo:hover .cardInfoImage .cardInfoTitle
{
	color: transparent;
}
/* cardInfo (end) */

/* cardTransitive (start) */
.cardTransitive
{
	width: 100%;
	height: 100%;
	text-align: center;
	color: black;
	position: relative;
	z-index: 1;
}
.cardTransitive .cardTransitiveTitle
{
	display: block;
	font-size: var(--smallTitleSize);
	font-family: var(--titleFamily);
	text-transform: uppercase;
	letter-spacing: 0.5vmin;
	margin: 3vh 0;
}
.cardTransitive .beforeTransition
{
	transition: opacity 0.4s ease-in, height 0.4s ease-out;
}
.cardTransitive .afterTransition
{
	display: none;
	height: 0;
	opacity: 0;
	transition: height 0.4s linear;
}
.cardTransitive .cardTransitiveImage
{
	width: 100%;
	height: 60%;
	position: absolute;
	top: 0;
	left: 0;
}
.cardTransitive img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cardTransitive .cardTransitiveContent
{
	width: 75%;
	min-height: 50%;
	padding: 4% 8%;
	position: absolute;
	top: 25%;
	z-index: 3;
	left: 50%;
	background: white;
	border: 1px solid black;
	transform: translateX(-50%);
	transition: top 0.3s ease-in, transform 0.3s ease-in;
}
.cardTransitive .cardIcon
{
	width: 30%;
	margin: 3vh auto;
	display: block;
}
.cardTransitive:hover
{
	cursor: pointer;
}
.cardTransitive:hover .beforeTransition
{
	opacity: 0;
	height: 0;
	display: none;
}
.cardTransitive:hover .afterTransition
{
	display: block;
	opacity: 1;
}
.cardTransitive:hover img.afterTransition,
.cardTransitive:hover .cardTransitiveImage
{
	height: 100%;
}
.cardTransitive:hover .cardTransitiveContent
{
	top: 75%;
	transform: translateX(-80%);
}
.cardTransitive:hover .cardTransitiveContent .afterTransition
{
	height: auto;
}
/* cardTransitive (end) */
.informativeBanner
{
	width: 100%;
	height: 50vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-image: url('../img/banner-audifonos.webp');
	display: flex;
	justify-content: flex-end;
    align-items: center;
    padding: 5%;
}
.informativeBannerText
{
	width: 40%;
	text-align: right;
	color: white;
	font-size: var(--titleSize);
	font-family: var(--titleFamily);
}
.btn 
{
	color: white;
	background: linear-gradient(to right,var(--darkBlue) 50% ,var(--lightBlue) 50% );
	background-size: 205% 100%;
	background-position: top right;
	transition: background 0.3s ease;
	text-align: center;
	border-radius: 10px;
	padding: 0.5% 3%;
	font-size: var(--smallTitleSize);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 3vh auto;
}
.btn:hover
{
	cursor: pointer;
	background-position: top left;
}
/* Footer (start)*/
footer
{
	width: 100%;
	height: auto;
	background: #9c9999;
	color: white;
	padding: 3vh 0;
}
footer a, footer p
{
	color: white;
	font-size: var(--smallSize);
	margin: 2vh 0;
}
footer span
{
	display: block;
	color: white;
	font-size: var(--smallSize);
}
footer a:hover
{
	text-decoration: underline;
	text-shadow: 0px 0px 3px white;
}
footer .footerRoot, footer .copyright
{
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
footer .footerTitle
{
	font-size: var(--normalSize);
	font-weight: 600;
}
footer .footerEmail
{
	width: 70%;
	margin: 3vh auto;
	text-align: center;
}
footer .copyright
{
	padding: 0 5%;
	margin: 3vh auto 0;
	background-color: black;
}
footer .copyright a
{
	text-decoration: underline;
}
footer .footerNode
{
	width: 45%;
	display: flex;
	justify-content: space-around;
}
.footerNodeTitle
{
	padding: 0 4%;
}
footer .footerNode.all, footer .footerLeaf.all
{
	width: 100%;
}
.footerNode .footerLeaf
{
	width: 45%;
	margin: 0 3vh;
}
.footerHr
{
	border-color: white;
	width: 100%;
}
.first
{
	order: 1;
}
.second
{
	order: 2;
}
/* Footer (end)*/
@media only screen and (max-width: 900px), (orientation: portrait)
{
	:root
	{
		--normalSize: 2.9vmin;
		--titleSize: 6.5vmin;	
	}
	footer .footerRoot, footer .copyright
	{
		display: block;
	}
	footer .footerRoot > .footerNode 
	{
		width: 100%;
	}
	footer .copyright
	{
		padding: 0.4% 5%;
		text-align: center;
	}
	.cardTransitive .cardTransitiveContent
	{
		width: 80%;
	}
	.informativeBannerText
	{
		width: 60%;
		text-align: center;
	}
	.informativeBanner
	{
		justify-content: center;
	}
}
@media only screen and (max-width: 700px), (orientation: portrait)
{
	:root
	{
		--normalSize: 3.4vmin;
		--titleSize: 7vmin;	
	}
	.cardTransitive:hover .cardTransitiveContent
	{
		top: 25%;
		transform: translateX(-80%);
	}
}